<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drive - Add folder</title>
  </head>
  <body>
    <form action="/folders/add" method="POST">
      <label for="name">Folder name: </label>
      <input type="text" name="name" id="name" />
      <button>Create</button>
    </form>
  </body>
</html>
